name: mlflow-ci

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: mlflow-env
          python-version: "3.10"

      - name: Run mlflow training
        run: |
          cd Workflow-CI/MLProject
          mlflow run .

      - name: Upload MLflow Model
        uses: actions/upload-artifact@v4
        with:
          name: trained-ml-model
          path: Workflow-CI/MLProject/mlruns/**/artifacts/model
